<div class='container'>
    <div class='row'>
        <div class='twelve columns'>
            <form action='/waiters/{{username}}' method="POST">
                <h2>Waiters Availability App</h2>
     <a href="/admin"><button type="submit"><strong>admin</strong></button></a>
                </div>
                </div>
                <div class='row'>
                    {{#if messages.info}}
                    <div class='twelve columns' id="message">
                        {{messages.info}}
                    </div>
                    {{/if}}
                </div>
                <hr>
        <div class='row'>
            <div class='twelve columns' id='daysOfWeek'>
                {{#each getAllDays}}
                <input type='checkbox' name='weekdays' value='{{day}}' {{checked}}>
                <label>{{day}}</label>
                {{/each}}
                <button type="submit" id='submit'><strong>submit</strong></button>
                </form>
            </div>
        </div>
     <hr>
        DONE @ Cwenga Mgqobozi
</div>