<div class='container'>
    <div class='row'>
        <div class='twelve columns'>
     <a href="/admin"><button type="submit" class='admin'><strong>Admin</strong></button></a>
            <form action='/waiters/{{username}}' method="POST">
                <h2>Waiters Availability App</h2>
                </div>
                </div>
                <div class='row'>
                    <div class='ten columns' id="message">
                        <h6 class="info">
                           <strong>
                               {{messages.info}}
                           </strong> 
                        </h6>
                    </div>
                </div>
                <hr>
        <div class='row'>
            <div class='twelve columns' id='daysOfWeek'>
                {{#each getAllDays}}
                <input type='checkbox' id='checkId' name='weekdays' value='{{day}}' {{checked}}>
                <label for='checkId'>{{day}}</label>
                {{/each}}
                <button type="submit" id='submit'><strong>Submit</strong></button>
                </form>
            </div>
        </div>
     <hr>
     <strong>DONE @ Cwenga Mgqobozi</strong>   
</div>